@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    
}
body{
   
    background-image:url("https://cdn.pixabay.com/photo/2023/02/01/21/40/pink-7761356_960_720.png");
    height: 100vh;   
}
input {
	height:30px;
	width:300px;
	border-color: transparent;
	text-align:center;
	background-color:#FFFFFF; 
	font-size: 16px;
	}
#inp{
	height:35px;
	width:100px;
	color: #FFFFFF;
	align-items:center;
	border-color: transparent;
	background-color: blue;
	border-radius:10px;
	font-size: 25px;
}
a{
	color: rgb(249, 6, 6);
}

