@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background-image:url("https://cdn.pixabay.com/photo/2023/02/01/21/40/pink-7761356_960_720.png");
    height: 100vh;
    
}
a{
	color: rgb(249, 6, 6);
}
td{
	background-color: #FFFFFF ;
}
td, th {
  text-align: center; /* Centers text horizontally */
  vertical-align: middle; /* Centers text vertically */
  padding: 10px;
}
table {
  width: 80%;
  border-collapse: separate; /* Important: allows border-radius to work */
  border-spacing: 3; /* Removes unwanted spacing */
  border-radius: 20px; /* Adjust for more/less rounding */
  overflow: hidden; /* Ensures corners are applied */
}
